.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* min-height: 10vh; */
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-intro {
  color: var(--accent-color);
  font-family: var(--font-mono);
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 2px;
}

.big-heading {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  line-height: 1.1;
}

.hero-title {
  color: var(--text-primary);
}

.hero-subtitle {
  color: var(--text-secondary);
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-description {
  max-width: 540px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: var(--text-secondary);
  font-size: 20px;
  line-height: 1.3;
}

.cta-button {
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none; /* ensure no default underline */
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
  display: inline-block;
}

.cta-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
  transform: none; /* Override previous translate */
  box-shadow: none; /* Override previous shadow */
}
